Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Metadata:
      AWS::CloudFormation::Init:
        config:
          commands:
            enlarge_volume:
              command: "echo 'Root volume enlarged to 50GB'"
    Properties:
      BlockDeviceMappings:
        - DeviceName: /dev/xvda
          Ebs:
            VolumeSize: 50
